@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;700;800;900&display=swap');

body {
    font-family: 'Exo', s ans-serif;
}

/* App */
.app {
    width: 500px;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    overflow-wrap: anywhere;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.app-wrapper {
    background-color: #D2D2D2;
}

/* Header */
.header {
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.header-text h3 {
    font-weight: 900;
    font-size: 1.6rem;
}

.header .btn {
    font-weight: 900;
}

.header a:hover {
    text-decoration: none;
}

.button-text {
    margin: 0 0 0 5px;
}

/* Not Found */
.main-page {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Post List and Post Item */
.main-text {
    overflow-y: hidden;
    max-height: 300px;
}

/* Post Full */
.post-full {
    height: 100%;
}